.targetgraph,
.nationalgraph {
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: height 0.5s ease-in-out;
}

.targetgraph {
  background: linear-gradient(136.95deg, #009984 24.03%, #97bf4a 75.73%);
}

.nationalgraph {
  background: linear-gradient(156.04deg, #706d65 -0.08%, #57544c 99.92%);
}
