input[type="radio"] {
  & + .radio {
    display: block;
    // appearance: "none";
    width: 1.5rem;
    height: 1.5rem;
    transition: all 0.2s ease-in-out;
    position: relative;
    border-radius: 50%;
    &::after {
      content: "";
      transition: all 0.2s ease-in-out;
      display: block;
      position: absolute !important;
      background-color: transparent;
      border-radius: 50%;
      width: 0.875rem;
      height: 0.875rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @apply border border-border bg-form-background;
  }

  &:hover + .radio {
    @apply border-text bg-form-background;
  }
  &:checked + .radio {
    @apply border-text-link bg-text-link-light;
    &::after {
      @apply bg-text-link;
    }
  }
  &:checked:hover + .radio {
    @apply border-text-link-dark bg-text-link-light;
    &::after {
      @apply bg-text-link-dark;
    }
  }
  &:disabled + .radio,
  &:disabled:hover + .radio,
  &:disabled:checked + .radio,
  &:disabled:checked:hover + .radio {
    @apply bg-form-background-disabled border-form-background-disabled;
    &::after {
      @apply bg-transparent;
    }
  }
}
