@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

:root {
  @apply flex flex-col h-lvh;
  font-family: "Noto Sans JP", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root,
body,
#root {
  @apply h-lvh;
}
#root {
  @apply flex flex-col;
}

body {
  @apply bg-primary;
}

.body {
  background-size: cover;
  background-position: center;
}
